@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@100&family=Onest:wght@300&display=swap');

/*
* littlelink V1
* https://littlelink.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/21/2019
*
* Built using:
*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


.layout {
  display: grid;
  grid:
    "header" auto
    "main" 1fr
    "footer" auto
    / 1fr;
  gap: 1rem;

  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  height: 100%;
}

header { 
  grid-area: header;
  margin-top: 2rem;
}
main {
  grid-area: main;
}
footer { 
  grid-area: footer;
  font-size: x-small;
  margin-bottom: 2rem;
}


/* For devices larger than 400px */
@media (min-width: 400px) {
  .layout {
    width: 85%;
  }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .layout {
    width: 80%;
  }
}

html {
  color-scheme: light dark;
  height: 100%;
}
body {
  font-family: 'Onest', sans-serif;
  font-weight: 300;
  height: 100%;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1 {
  margin-top: 0;
  margin-bottom: 0;

  font-family: 'EB Garamond', serif;
  font-weight: 100;

  font-size: 2rem;
  line-height: 64px;
  letter-spacing: 0ch;
}
h2 {
  font-family: 'EB Garamond', serif;
  font-weight: 100;
  margin-top: 2.5rem;
}

/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 3rem;
    line-height: 6rem;
  }
}

p {
  margin-top: 0;
}


/* Link Color Dark Theme */
@media (prefers-color-scheme: dark) {
  html {
    background-color: hsl(0 0% 15%);
    color: hsl(0 0% 85%);
  } 
  a {
    color: #4899F7;
  }
  a:hover, a:focus {
    color: #7AB8FF;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color: hsl(0 0% 15%);
    background-color: hsl(0 0% 85%);
  } 
  a {
    color: #2457F5;
  }
  a:hover, a:focus {
    color: #083BDA; 
  }
}

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button {
  margin-bottom: 1rem;
}
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}
pre,
blockquote,
dl,
figure,
p,
ol {
  margin-bottom: 2.5rem;
}

.avatar {
  width: 128px;
  height: 128px;
  object-fit: cover;
  background-position: center;
  border-radius: 50%;
}

.button {
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  width: 300px;
  font-weight: 300;
  line-height: 20px;
  padding: 14px 12px 12px 12px;
  letter-spacing: 0.1px;
  white-space: wrap;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 auto 1rem auto;
  border: 1px solid silver;
  color: inherit;

  opacity: 0.9;

  display: flex;
  flex-direction: row;
  gap: 1ch;
  align-items: center;
  justify-content: center;

  &:focus, &:hover {
    opacity: 1;
  }

  & svg {
    height: 1rem;
    fill: currentColor;
  }
}     